api_application/configs/application.ini
api_application/configs/database.ini
api_application/configs/models.ini
api_application/configs/clients.ini
data/database/*
data/logs/*
data/files/*
data/zsync/*
data/thumbnails/*
public/robots.txt
public/google*.html
public/.well-known/*
