api_application/configs/application.ini
api_application/configs/clients.ini
api_application/configs/database.ini
api_application/configs/database_ocs.ini
api_application/configs/models.ini
data/database/*
data/files/*
data/logs/*
data/thumbnails/*
data/zsync/*
data/torrents/*
public/.well-known/*
public/google*.html
public/robots.txt
.idea
vendor
composer.lock
docker-compose.yml
*Dockerfile
.backup
.deployment
.docker