LimitRequestBody 4294967296
php_value upload_max_filesize 4000M
php_value post_max_size 4000M
php_value memory_limit 512M

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
