bind = 0.0.0.0
ip = 127.0.0.1
port_range = 49153-65535
port_random = yes

encryption = allow_incoming,try_outgoing,enable_retry
check_hash = yes
directory = /var/www/ocs-fileserver/data/files/
session = /home/username/.rtorrent/

schedule = watch_directory,5,5,load_start=/var/www/ocs-fileserver/data/torrents/*.torrent
schedule = tied_directory,5,5,start_tied=
#schedule = untied_directory,5,5,stop_untied=
#schedule = untied_directory,5,5,close_untied=
schedule = untied_directory,5,5,remove_untied=
schedule = low_diskspace,5,60,close_low_diskspace=1000M

min_peers = 1
max_peers = 200
min_peers_seed = 1
max_peers_seed = 200
max_uploads = 100
max_downloads_global = 10
max_uploads_global = 100
download_rate = 30
upload_rate = 300

#use_udp_trackers = yes
#dht = auto
#dht_port = 49152
#peer_exchange = yes

